<!DOCTYPE html>
<html>
  <head>
    <script src = "/javascripts/ex_3.js"></script>
    <script src = "/dds/dds.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <button id="covid19"  type="button" class="btn btn-danger" ><b>  COVID  </b></button>
    <button id="notif"  type="button" class="btn btn-danger" ><b>  notif  </b></button>
  </body>
</html>
